@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  width: 45em;
}

.search-bar-container h2 {
  font-family: "Poiret One", cursive;
  color: rgb(73, 73, 73)
}

.search-bar-container input {
  border: 0;
  border-bottom: 1px solid #E8E8E8;
  width: 15rem;
  margin-right: 8px;
  min-height: 1.5rem;
}

.search-bar-container button{
  border-radius: 10%;
  background-color: white;
  min-height: 2rem;
  min-width: 4rem;
  border: 0.5px solid #E8E8E8;
}

.video-preview-info {
  padding-left: 10px;
  text-align: justify;
  color: #333;
}

.video-preview-info h3 {
  margin: 0;
}

.video-preview-description {
  font-size: small;
  color: rgb(73, 73, 73);
}

.video-preview-container {
  display: flex;
  width: 45em;
  margin-bottom: 16px;
}

.video-preview-container:hover {
  background-color: #E8E8E8;
}

* a {
  text-decoration: none;
}
